<!DOCTYPE html>
<html lang="en">
<script src="/public/usersJsonp"></script>
<script>
    if (!window.isLogin) {
        location.href = '/html/login.html'
    }

    // console.log(window.isLogin);
    // console.log(window.user);
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/user-index.css">
    <link rel="stylesheet" href="../bootsrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script src="../jQuery/jQuery.min.js"></script>
    <script src="../bootsrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../nprogress/nprogress.css">
    <script src="../art-template/template-web.js"></script>
    <script src="../nprogress/nprogress.js"></script>
    <title>QuestionBamk</title>
</head>

<body>
    <script>
        NProgress.start()
    </script>

    <!-- 小屏幕 -->
    <nav class="mini">
        <div class="miniTop ">
            <a href="/html/index.html" class="back"><span class="glyphicon glyphicon-chevron-left"></span>返回</a> QuestionBank
            <!-- <a href="#" class="back"></span>登录</a> QuestionBank -->
        </div>
        <div class="miniDown">




        </div>
        <div class="btn-group ">
            <button type="button" class="btn " onclick="jump('/html/user-index.html')">
      个人信息
    </button>

        </div>
        <div class="btn-group ">
            <button type="button" class="btn now" onclick="jump('/html/user-list.html')">
      我的题解
    </button>

        </div>
        <div class="btn-group ">
            <button type="button" class="btn " onclick="jump('/html/detail-add.html')">
      发布题解
    </button>

        </div>



        <!-- /.container-fluid -->
    </nav>
    <!-- 大屏幕 -->
    <nav class="navbar navbar-default  ">
        <div class="container-fluid auto">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">


                <a class="navbar-brand" href="/html/index.html">QuestionBank</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- 选中状态action -->
                    <li><a href="/html/index.html">题库列表</a></li>

                    <li><a href="/html/index-list.html">热门题解</a></li>

                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown admin">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/html/admin-question-add.html">题目发布</a></li>
                            <li><a href="/html/admin-question-edit.html">题目管理</a></li>
                            <li><a href="/html/admin-label.html">分类管理</a></li>
                            <li><a href="/html/admin-users-edit.html">用户管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown teacher">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教师<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/html/admin-question-add.html">题目发布</a></li>

                            <li><a href="/html/admin-label.html">分类管理</a></li>

                        </ul>
                    </li>
                    <li class="userlogin">
                        <a style="color: #64BF68;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录</span></a>
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">题目发布</a></li>
                <li><a href="#">题目管理</a></li>
                <li><a href="#">分类管理</a></li>
                <li><a href="#">用户管理</a></li>
            </ul> -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <nav class="navbar navbar-default  auto">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/html/user-index.html">个人信息</a></li>
                    <li class="active"><a href="/html/user-list.html">我的题解</a></li>
                    <li><a href="/html/detail-add.html">发布题解</a></li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- 列表开始 -->
    <ul class="list-group auto" id="listBox">
        <li class="list-group-item">
            <a href="#"><span>题目</span></a>
            <ul>
                <li>浏览量：<span>20</span></li>
                <li>题解数：<span>20</span></li>
                <li>点赞：<span>20</span></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="#"><span>题目</span></a>
            <ul>
                <li>浏览量：<span>20</span></li>
                <li>题解数：<span>20</span></li>
                <li>点赞：<span>20</span></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="#"><span>题目</span></a>
            <ul>
                <li>浏览量：<span>20</span></li>
                <li>题解数：<span>20</span></li>
                <li>点赞：<span>20</span></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="#"><span>题目</span></a>
            <ul>
                <li>浏览量：<span>20</span></li>
                <li>题解数：<span>20</span></li>
                <li>点赞：<span>20</span></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="#"><span>题目</span></a>
            <ul>
                <li>浏览量：<span>20</span></li>
                <li>题解数：<span>20</span></li>
                <li>点赞：<span>20</span></li>
            </ul>
        </li>

    </ul>
    <nav aria-label="Page navigation " class="auto">
        <ul class="pagination " id="pageBox">

        </ul>
    </nav>

    <script>
        NProgress.done()
    </script>
    <script type="text/html" id="listTpl">
        {{if answers.length!=0}} {{each answers}}
        <li class="list-group-item">
            <a href="/html/detail.html?aid={{$value._id}}"><span>{{$value.title}}</span></a>
            <ul>
                <li>浏览量：<span>{{$value.meta.views}}</span></li>
                <li>评论数：<span>{{$value.meta.comments}}</span></li>
                <li>点赞：<span>{{$value.meta.likes}}</span></span>
                </li>
                <span style="color: #64BF68;
                position: absolute;
                right: 40px;
                top: 50%;
                cursor: pointer;
                margin-top: -5px;" class="glyphicon glyphicon-edit" onclick='jump("/html/detail-add.html?answerId={{$value._id}}")'></span>
                <span style="color: #ca0c16;
                position: absolute;
                right: 15px;
                top: 50%;
                cursor: pointer;
                margin-top: -5px;" class="glyphicon glyphicon-remove" onclick='deleteF("{{$value._id}}")'></span>


            </ul>

        </li>
        {{/each}} {{/if}} {{if answers.length==0}}
        <li class="list-group-item">
            <a href="javascript:;"><span>未找到任何内容</span></a>

        </li>
        {{/if}}
    </script>
    <script type='text/html' id="pageTpl">

        <li>
            <a href="javascript:;" aria-label="Previous" onclick='changePage({{page-1 || 1}})'>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{each pages}} {{if $value>=page-2 && $value
        <page-0+2}} <li><a href="javascript:;" onclick='changePage({{$value}})'>{{$value}}</a></li>
            {{/if}} {{/each}}

            <li>
                <a href="javascript:;" aria-label="Next" onclick='changePage({{page+1>=pages.length?pages.length:page+1}})'>
                    <span aria-hidden="true">&raquo;</span>
                </a>

            </li>
    </script>
    <script src="../js/index-head.js"></script>
    <script src="../js/user-list.js"></script>
</body>

</html>